<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Appel au component navigation (navigation.component.html) -->
<app-navigation></app-navigation>

<!--Les routes sont affichées ici-->
<section>
    <router-outlet></router-outlet>
</section>

<!--Appel au component copyright (copyright.component.html) -->
<app-copyright></app-copyright>