<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="http://www.bu.parisdescartes.fr/images/logo_UPD_CMJN_73.png" height="34px" alt={{appTitle}}>
    </a>
  </div>
  <div id="top" class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
          id="navbarSupportedContent"
          [ngClass]="{'show': !isCollapsed}">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"><a routerLink="/">Accueil</a></a>
            </li>
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
                Imports <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" href="#">Indexation adresses</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Indexation lieux</a></li>
                <li role="menuitem"><a class="dropdown-item" href="#">Vérifications</a></li>
              </ul>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
              Structures <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Modification</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Liens entre structures</a></li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
              Auteurs <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Modification</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Fusion</a></li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle" aria-controls="dropdown-basic">
              Lieux <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Modification</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Liens entre les lieux</a></li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link"><a routerLink="/requetes">Requêtes</a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><a routerLink="/public">Partie public</a></a>
          </li>
         </ul>
        </div> <!--Fin collapse-->
      </div> <!--Fin col-md-12-->
    </div> <!--Fin row-->
  </div> <!--Fin container-->
</nav>