/*.navbar{
    background-color:#FEC3AC;
    border-color:transparent !important;
}
*/
.navbar-nav li a {
    color: #cc0033 !important;
}
/*
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #FEC3AC;
}
*/