<section class="copyright bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          Copyright © 2019 - Université Paris Descartes.
      </div>
    </div>
  </div>
</section>