<div class="container">
  <div class="row">
    <div class="col-md-12">
        <a><img src="https://www.museeyslmarrakech.com/wp-content/uploads/2017/10/BIBLIOTHEQUE.jpg"></a>
        <h2>Bienvenue sur le recensement des bibliométries de l'université Paris Descartes</h2>
    </div>
  </div>
</div>